


body {
    text-align: center;
    color: hsl(10, 50%, 50%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}

#playbtn {
    background-color: burlywood;
}

.selection {
    background-color: burlywood;
    padding: 20px;
    margin: 10px;
    transition: : all 0.3s ease;
    
}

button:hover {
    transform: scale(1.2);
}

div {   
    padding: 1rem;
    margin: 1rem;
}

.bg {
    background-color: hsl(24, 30%, 82%);
    margin: 50px;
    padding: 30px;
}

.nameline {
    background-color: hsl(0, 0%, 100%);
    border: none;
    margin: 10px;
    scale: 1.5;
}


#userLabel {
    float: left;   
}

#compLabel {
    float: right;  
}

#userScore {
    align-content: center;
    margin: 5px;
    font-size: 50px;
}

#compScore {
    align-content: center;
    margin: 5px;
    font-size: 50px;
}

#actionMessage {
    font-size: 20px;
}

.result {
    font-size: 30px;
}

#message {
    margin: 50px;
    scale: 1.5;
}


